<div class="modal-header">
  <h4 class="modal-title">Nowy zestaw narzędzi</h4>
  <button type="button" class="btn-close" aria-label="Close"
          (click)="activeNewToolSetModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="toolSetForm">

    <div class="form-floating mb-3">
      <input type="number" min="0" step="0.1" class="form-control" id="punchRadius" formControlName="punchRadius" placeholder="">
      <label for="punchRadius">Promień zaokrąglenia stempla [mm]</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="punchName" formControlName="punchName" placeholder="">
      <label for="punchName">Nazwa stempla</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" min="0" step="0.1" class="form-control" id="dieWidth" formControlName="dieWidth" placeholder="">
      <label for="dieWidth">Szerokość rowka matrycy [mm]</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="dieName" formControlName="dieName" placeholder="">
      <label for="dieName">Nazwa matrycy</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="description" formControlName="description" placeholder="">
      <label for="description">Opis</label>
    </div>

  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-danger" (click)="activeNewToolSetModal.close('Close click')">
    Zamknij
  </button>
  <button type="submit" class="btn btn-sm btn-outline-success" (click)="onSubmit()">Zapisz</button>


</div>
