<h4 class="my-3 text-center">Grupy Materiałowe</h4>
<div class="m-3">
  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="newMaterialGroup()">Dodaj</button>
</div>
<div class="m-3">
  <table class="table table-hover">
    <thead class="bg-dark text-light text-center">
    <th>Skrót</th>
    <th>Pełna nazwa</th>
    <th>Akcje</th>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let materialGroup of materialGroups">
      <td>{{materialGroup.shortName}}</td>
      <td>{{materialGroup.fullName}}</td>
      <td><i class="bi bi-trash3 mx-2" (click)="removeMaterial(materialGroup.id)"></i><i class="bi bi-pencil-square mx-2" (click)="editMaterial(materialGroup.id)"></i></td>
    </tr>
    </tbody>
  </table>
</div>
