<div class="container-lg">
  <nav class="navbar sticky-top bg-body-tertiary my-4">
    <div></div>
    <div>
      <a class="navbar-brand" href="#">
        Bend Technologist
      </a>
    </div>
    <div></div>
  </nav>
  <div class="row">
    <div class="col-6">
      <app-result [dataWrapper]="completeDataWrapper" [triggersRecalculatingData]="eventsSubject.asObservable()"></app-result>
    </div>
    <div class="col-6">
      <div class="row">
        <h2 class="my-4">Dane wejściowe</h2>
        <div ngbAccordion [closeOthers]="true">

          <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <div class="col-3">Grubość:</div>
                <div class="col fw-bold">{{materialThicknessSelected.thickness | number: '1.1-2'}}</div>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <app-material-thickness class="bg-light" (materialThicknessSelected)="setSelectedMaterialThickness($event)" ></app-material-thickness>
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <div class="col-3">Materiał:</div>
                <div class="col fw-bold">{{materialSelected.en10088}}</div>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <app-materials class="bg-light" (materialSelected)="setSelectedMaterial($event)"></app-materials>
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <div class="col-3">Grupa materiałowa:</div>
                <div class="col fw-bold">{{materialGroupSelected.shortName}}</div>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <app-material-groups class="bg-light"
                                       (materialGroupSelected)="setSelectedMaterialGroup($event)"></app-material-groups>
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                <div class="col-3">Narzędzia:</div>
                <div class="col fw-bold">{{toolSetSelected.punchName}}/{{toolSetSelected.dieName}}</div>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <app-tools class="bg-light" (toolSelected)="setSelectedToolSet($event)"></app-tools>
                </ng-template>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-toasts></app-toasts>


