<div class="container-lg">
  <nav class="navbar sticky-top bg-body-tertiary my-4">
    <div></div>
    <div>
      <a class="navbar-brand" href="#">
        Bend Technologist
      </a>
    </div>
    <div></div>
  </nav>
  <div class="row">
    <div class="col-6">
      skjdhfksjhd
    </div>
    <div class="col-6">
      <div class="row">
        <app-material-groups class="bg-light"></app-material-groups>
        <hr class="my-2">
        <app-materials class="bg-light"></app-materials>
      </div>
    </div>
  </div>
</div>


