<div class="modal-header">
  <h4 class="modal-title">Nowy materiał</h4>
  <button type="button" class="btn-close" aria-label="Close"
          (click)="activeNewMaterialGroupModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="materialGroupForm">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="shortName" formControlName="shortName" autofocus>
      <label for="shortName">Skrót</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="fullName" formControlName="fullName">
      <label for="fullName">Pełna nazwa</label>
    </div>

  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-danger" (click)="activeNewMaterialGroupModal.close('Close click')">
    Zamknij
  </button>
  <button type="submit" class="btn btn-sm btn-outline-success" (click)="onSubmit()">Zapisz</button>


</div>
